
.plugin-gridster.sms .front {
  background: #FFFFFF url('images/sms.jpg') center 2px;
  background-size:   160px 160px;
  background-repeat: no-repeat;
}

.plugin-gridster.requete .back {
  background: #FFFFFF;
}